
@{
    ViewData["Title"] = "Admin Role List";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Role Create</h1>
<h1>страница для созданияпользователя с ролями</h1>

<form asp-action="RoleCreate" method="post">
    <div class="form-group">
        <label for="name">Новая роль</label>
        <input name="name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Добавить</button>
</form>